.componentPlaygroundOuter {
  padding: 4px;
}

.componentPlaygroundGrid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  place-items: center;
  /* flex: 1; */
  margin: 0 auto;
  /* max-width: 1200px; */
  margin-bottom: 16px;
}

@media (max-width: 700px) {
  .componentPlaygroundGrid {
    grid-template-columns: 1fr;
  }
}
