/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20vw;
}

.headerContainer {
  margin: 2rem;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .headerContainer {
    margin: 1rem;
  }
}

/* UI Showcase and mobile frame container */
.showcaseContainer {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
}

@media all and (max-width: 996px) {
  .showcaseContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Mobile Frame */

.mobileBorder {
  border: 8px solid black;
  border-radius: 24px;
  width: 340px;
  height: 700px;
  min-width: 340px;

  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 24px;
}

@media screen and (max-width: 996px) {
  .mobileBorder {
    display: none;
  }
}

.notch {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: black;
  width: 50%;
  height: 20px;
}

.mobileBorder iframe {
  height: 650px;
  width: 100%;

  position: absolute;
  top: 20px;
}

.bottomBar {
  background-color: black;
  width: 40%;
  height: 6px;
  border-radius: 8px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  right: 0px;
  bottom: 6px;
}
